server:
  port: 8081

spring:
  application:
    name: project-service

  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        register: true
        prefer-ip-address: true
        service-name: ${spring.application.name}
        # configure Consul to use the actuator health endpoint for health checks
        health-check-path: /actuator/health
        health-check-interval: 10s
management:
  endpoints:
    web:
      exposure:
        include: health, info
  endpoint:
    health:
      show-details: when_authorized

