<div class="d-flex flex-row bg-light " style="position: absolute;right: 0; margin-top: 10px;margin-right: 10px;">
    @if(!isSignedIn) {
    <div class="me-4">
        <a routerLink="/user">SIGN IN</a>
    </div>
} @else {
    <div class="me-4">
        <a (click)="signout()">SIGN OUT</a>
    </div>
}
    <div class="d-flex flex-column">
        <mat-icon (click)="toggleMenu()">menu</mat-icon>
        <div>
            @if(showMenu) {
             <nav id="sidebar" class="d-flex flex-column position-absolute bg-white border p-3"
                style="top: 30px; right: 20px; z-index: 100; width: 200px;">
                <a class="me-3" routerLink="/home">Homepage</a>
                <a class="me-3" routerLink="/board">Stories and Tasks</a>
                <a class="me-3" routerLink="/project">Project Board</a>
                <a class="me-3" routerLink="/kanban-view">View Board</a>
                <a class="me-3">Reports</a>
            </nav>

            }
        </div>
    </div>

</div>
<router-outlet></router-outlet>